<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
   <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    --> <link href = "https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel = "stylesheet">
 <link rel="stylesheet" href="/stylesheets/style.css">
 
</head>
<body>
    <div class="container">
        <!--HEADER-->
        <header>
            <section class="header1">
               
                    <div class="envios">
                        <i class="fas fa-shipping-fast"></i>
                        Envios a todo el país
                    </div>

                    <div class="redes">
                        <div class="f"><a href="https://www.facebook.com/vistetedepoderclothingdesign/"><img class="f" src="/images/facebook.jpg" alt="facebook"></a></div>
                        <div class="i"><a href="https://www.instagram.com/remerasliterarias_vp/"><img src="/images/instagram.png" alt="instagram"></a></div>
                        <div class="w"><a href="https://web.whatsapp.com/"><img src="/images/whatsapp.png" alt="whatsapp"></a></div> 
                
                    </div>    
            </section>

            <section class=header2>
                <article class="logo"><img src="/images\logo.jpg" alt="logo"></article>   

                <ul class="menuHorizontal">
                    <li class="palabras"><a class="home" href="/home">HOME</a></li>
                    <li class="palabras"><a class="home" href="/producto">INDUMENTARIA<i class="fas fa-sort-down"></i></a> 
                       <ul class="desplegable">
                        <li><a href="/producto">Remeras</a></li>
                        <li><a href="/producto">Barbijos</a></li>
                        <li><a href="/producto">Gorras</a></li>
                       </ul>  
                    </li> 
                    <li class="palabras"><a class="home" href="/producto">MERCHANDISIGN<i class="fas fa-sort-down"></i></a> 
                        <ul class="desplegable">
                        <li><a href="/producto">Tazas</a></li>
                        <li><a href="/producto">Termos</a></li>
                        <li><a href="/producto">Botellas</a></li>
                        </ul>  
                    </li>  
                     <li class="palabras"><a class="home" href="/producto">ACCESORIOS<i class="fas fa-sort-down"></i></a>
                        <ul class="desplegable">
                          <li><a href="/producto">Bolsos</a></li>
                          <li><a href="/producto">Cartucheras</a></li>
                          <li><a href="/producto">Mochilas</a></li>
                        </ul>
                    </li>     
                </ul> 
                    

                <div class="buscadores">
                   <div class="valija"><a href="/carrito"><i class="fas fa-shopping-bag"></i></a></div>
                   <div class="buscador"><a href="#"><label for="busqueda"><i class="fas fa-search"></label></i></a>
                     <input type="search" placeholder="Buscar productos" id="busqueda" name="busqueda">
                   </div>
                   <div class="ingreso"><a href="/ingreso"><i class="fas fa-user"></i></a></div>
                </div>
            </section>
            
        </header>

        <!--MAIN-->   
        <main class="mainProducto">
         <!--Flor-->
          <section class="Nombre-Producto">
                 Remera 
            </section>
                    <!--Fin Flor-->
         <div class="producto-y-descripcion">
               <!--Xio-->
                     <section class="fotoProducto">
                         <article> <img src="/images/fotosVisteteDePoder/indumentaria.jpg" alt="Remera"></article>
                    
                    </section>
                <!--Fin Xio-->
                    <!--Flor-->
                      <section class="descripcion">
                        <div class="remera1">Remera 1</div> 
                         <p>Descripcion del producto lo que tiene impreso,con historia de la imagen,ETC.</p>
                          <h4>Precio $54.00</h4>
                        
                    <!--Fin Flor-->
                        <!--Lau-->
                        <article class="talle-cantidad">
                          
                               <label for="" >Talle </label>                         
                                <select name ="talle">
                                    <option value="S">Small</option>
                                    <option value="M">Medium</option>
                                    <option value="L">Large</option>
                                    <option value="XL">Extra-Large</option>
                              </select>
                         

                         
                             <label for="" > Cantidad: </label>                         
                               <select name="Cantidad" >
                                  <option value="uno">1</option>
                                  <option value="dos">2</option>
                                  <option value="tres">3</option>
                                  <option value="cuatro">4</option>
                                  <option value="cinco">5</option>
                                  <option value="seis">6</option>
                                  <option value="siete">7</option>
                                  <option value="ocho">8</option>
                                  <option value="nueve">9</option>
                                  <option value="diez">10</option>
                              </select>
                         </article>
                          <button type="button">Añadir a carrito</button>

                        </section>
                        <!--Fin Lau-->

        </div>
    </main>
    <%-include("../partials/footer")%>
</body>
</html>