<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>
<body>
    <div class="container">
            <!--HEADER-->
            <%-include("../partials/header")%>
            <!--FIN HEADER-->
            <main>

                <!--MAIN-->

                <% if (typeof errors!='undefined'){ %>
                    <p style='color:red'>ERROR</p>
                    <ul>
                        <% for(i=0; i < errors.length; i++){ %>
                        <li>
                            <%=errors[i].msg %>
                        </li>
                        <% } %>
                    </ul>
            
                    <% } %>
              
                
<form  action="/products/create" method="POST" enctype="multipart/form-data">
    <div class="registro1">
        <label for="nombre"></label>
        <label for="descripcion"></label>
        <!------PONER LOS ICONOS DE CADA INPUT ACA"-->
        
    </div>
    
   
    <div class="registro2">
        <h3>Crear producto</h3>

        <input class=inputsRegistro type="text" placeholder="Id Producto" name="id" value>

        <input class=inputsRegistro type="text" placeholder="Nombre Producto" id="name" name="nombre" value="">
        
        <textarea class="inputsRegistro"  placeholder="Descripción" name="descripcion" id="descripcion" cols="120" rows="1"></textarea><br>
     
      <!------TODOS LOS INPUTS DEBEN TENER class="inputsRegistro"-->

    

        
      <input  type="file" name="avatar" id="id"><br>
       <!---si no cargamos imagen se rompe-->


      <!--Categoría (que sea un Select)-->

                   <label for="" > Categoría: </label>                         
                                <select class="inputsRegistro" name ="categoria" id="categoria">
                                   
                                    <option value="Indumentaria">Indumentaria</option>
                                    <option value="Merchandising">Merchandising</option>
                                    <option value="Accesorios">Accesorios</option>
                                    
                                  </select>
      
       
        
      
      <!--Talle/ Diseño / Cantidad (que sea un Select)-->

      <input class=inputsRegistro type="text" placeholder="Talle" id="talleProducto" name="talle">
      <input class=inputsRegistro type="text" placeholder="Diseño" id="disenioProducto" name="disenio">
      <input class=inputsRegistro type="text" placeholder="Cantidad" id="cantidadProducto" name="cantidad">
      
      <!--Precio (función de Miles)-->

      <input class=inputsRegistro type="text" placeholder="Precio" id="precioProducto" name="precio">

        <button class="enviar" value="enviar" type="submit">Crea tu producto en Vistete de Poder</button>
    
        <a class="aIngreso"href="\products">Ver tus productos</a>
   </div>
</form>
          
            </main>

            <%-include("../partials/footer")%>

    </div>

</body>
</html>