<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>
<body>
    <div class="container">
            <!--HEADER-->
            <%-include("../partials/header")%>
            <!--FIN HEADER-->
            <main>

                <!--MAIN-->  
                
<form  action="/products/create" method="POST">
    <div class="registro1">
        <label for="nombreProducto"><i class="fas fa-tshirt"></i></i></label>
        <label for="descripcion"><i class="fas fa-edit"></i></i></label>
        <!------PONER LOS ICONOS DE CADA INPUT ACA"-->
        
    </div>

    <div class="registro2">
        <h3>Crear producto</h3>

        <input class=inputsRegistro type="text" placeholder="Id Producto" name="id">

        <input class=inputsRegistro type="text" placeholder="Nombre Producto" id="nombreProducto" name="nombre">
        
        <textarea class="inputsRegistro"  placeholder="Descripción" name="descripcion" id="descripcion" cols="120" rows="1"></textarea><br>
     
      <!------TODOS LOS INPUTS DEBEN TENER class="inputsRegistro"-->

      <!--Imagen-->
        
      <input type="file" name="avatar">

      <!--Categoría (que sea un Select)-->
      
      <!--Talle/ Diseño / Cantidad (que sea un Select)-->

      <!--Precio (función de Miles)-->
        <button class="enviar" value="enviar" type="submit">Crea tu producto en Vistete de Poder</button>
    
        <a class="aIngreso"href="\products">Ver tus productos</a>
   </div>
</form>
          
            </main>

            <%-include("../partials/footer")%>

    </div>

</body>
</html>