<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <div class="container">
        <!--HEADER-->
        
            <%-include("../partials/header")%>
          <!-- fin del HEADER-->  

          <!--MAIN-->   
       <main class="mainProducto">        
       
       <section class="Nombre-Producto">
        Lista de Productos
</section>


            </main>

    <%-include("../partials/footer")%>
</body>
</html>