<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>
  <body>
    <div class="container-fluid">
      <!--HEADER-->

      <%-include("../partials/header")%>
      <!-- fin del HEADER-->
      <!--MAIN-->
      <main class="mainProducto">
    
       <button class="enviar">Producto no encontrado</button><br><br>
       <!-- A DONDE REDIRIJE? -->
      </main>
      <%-include("../partials/footer")%>
    </div>
  </body>
</html>
