<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>
<body>
    <div class="container">
            <!--HEADER-->
            <%-include("../partials/header")%>
            <!--FIN HEADER-->
            <main>
 
                <button class="enviar">Creaste un producto</button><br><br>
        
            <div class="padreGif">  
                <section class="gif">  </section> 
            </div>      
            </main>

            <%-include("../partials/footer")%>

    </div>
    <script src="../JSfront/gif.js"></script>
</body>
</html>