<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>
<body>
    <div class="container-fluid">
            <!--HEADER-->
            <%-include("../partials/header")%>
            <!--FIN HEADER-->
            <main>
 
                <button class="enviar">Creaste un producto</button><br><br>
        
            <div class="padreGif">  
                <section class="gif">  </section> 
            </div>      

            
<form class="botonCreated" action="/products/create">

    <button class="enviar" type="submit">Seguir Creando Productos</button>
    
    </form>
    
    <form class="botonCreated" action="/products/listProductsAdm">
    
        <button class="enviar" type="submit">Ver Productos</button>
        
        </form>
    
        
    <form class="botonCreated" action="/users/list">
    
        <button class="enviar" type="submit">Ver Usuarios</button>
        
        </form>


            </main>

            <%-include("../partials/footer")%>

    </div>
    <script src="../JSfront/gif.js"></script>
</body>
</html>