<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
--> <link href = "https://fonts.googleapis.com/css2? family = Josefin + Sans & display = swap" rel = "stylesheet">
    

</head>
<body>
<div class="container">
   <!--HEADER-->
   <header>
    <section class="header1">
       
            <div class="envios">
                <i class="fas fa-shipping-fast"></i>
                Envios a todo el país
            </div>

            <div class="redes">
                <div class="f"><a href="https://www.facebook.com/vistetedepoderclothingdesign/"><img class="f" src="/images/facebook.jpg" alt="facebook"></a></div>
                <div class="i"><a href="https://www.instagram.com/remerasliterarias_vp/"><img src="/images/instagram.png" alt="instagram"></a></div>
                <div class="w"><a href="https://web.whatsapp.com/"><img src="/images/whatsapp.png" alt="whatsapp"></a></div> 
        
            </div>    
    </section>

    <section class=header2>
        <article class="logo"><img src="/images\logo.jpg" alt="logo"></article>   

        <ul class="menuHorizontal">
            <li class="palabras"><a class="home" href="/home">HOME</a></li>
            <li class="palabras"><a class="home" href="/producto">INDUMENTARIA<i class="fas fa-sort-down"></i></a> 
               <ul class="desplegable">
                <li><a href="/producto">Remeras</a></li>
                <li><a href="/producto">Barbijos</a></li>
                <li><a href="/producto">Gorras</a></li>
               </ul>  
            </li> 
            <li class="palabras"><a class="home" href="/producto">MERCHANDISIGN<i class="fas fa-sort-down"></i></a> 
                <ul class="desplegable">
                <li><a href="/producto">Tazas</a></li>
                <li><a href="/producto">Termos</a></li>
                <li><a href="/producto">Botellas</a></li>
                </ul>  
            </li>  
             <li class="palabras"><a class="home" href="/producto">ACCESORIOS<i class="fas fa-sort-down"></i></a>
                <ul class="desplegable">
                  <li><a href="/producto">Bolsos</a></li>
                  <li><a href="/producto">Cartucheras</a></li>
                  <li><a href="/producto">Mochilas</a></li>
                </ul>
            </li>     
        </ul> 
            

        <div class="buscadores">
           <div class="valija"><a href="/carrito"><i class="fas fa-shopping-bag"></i></a></div>
           <div class="buscador"><a href="#"><label for="busqueda"><i class="fas fa-search"></label></i></a>
             <input type="search" placeholder="Buscar productos" id="busqueda" name="busqueda">
           </div>
           <div class="ingreso"><a href="/ingreso"><i class="fas fa-user"></i></a></div>
        </div>
    </section>
    
</header>
<!--FIN HEADER-->

                
    <main>

        <!--MAIN-->   

        <div class="rectanguloPrinpipal">
            <div class="tituloMiCarrito">Mi carrito</div>
            
            <div class="detalleCarrito">

                <div class="detalleCompra">        
                        
                    <div class="compra1">
                        
                        <div class="articulo1"><img src="\images\fotosVisteteDePoder\indumentaria.jpg" alt="imagen    indumentaria">
                        </div>
                        
                        <div class="detalleArticulo">
                            <p> Detalle del producto </p>
                        
                            <div class="descripcionCompra"> <!-- esta caja debería traer la información que se selecciona en productos-->
                                <p>Descripcion del producto </p>
                                <p>Precio $00.00</p>
                                    <label for="" > </label>  
                                <select name="talle">
                                        <option value="">Talle:</option>
                                        <option value="S">Small</option>
                                        <option value="M">Medium</option>
                                        <option value="L">Large</option>
                                        <option value="XL">Extra-Large</option>
                                </select>

                                <label for="" >  </label>
                                    <select name="Cantidad">
                                        <option value="">Cantidad:</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                
                    <div class="compra2">
                        <div class="articulo2"><img src="\images\fotosVisteteDePoder\masProductos1.jpg" alt="imagen indumentaria"></div>
                    
                        <div class="detalleArticulo">
                            <p> Detalle del producto </p>
                    
                            <div class="descripcionCompra"> <!-- esta caja debería traer la información que se selecciona en productos-->
                                <p>Descripcion del producto </p>
                                <p>Precio $00.00</p>
                                
                                <label for="" ></label>
                                <select name="Cantidad">                           
                                    <option value="">Cantidad:</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        
                        </div>
                    </div>
                
                </div> 
<!-- esta caja debería conectarse con las cajas compra1 y compra2-->
                <div class="detalleSubtotal">
                    <div>Subtotal $$$</div>
                    <div>Total General $$$</div>
                    <div><button type="submit">Completar Compra</button> </div>
                </div>
            </div>
            
            

        </div>



        <!--FIN MAIN-->    

    </main>


            <!--footer-->
            <footer>
                <section class="Medios-de-pagos">
                    <p> Medios de pago </p>                    
                    <img width=50px src="/images/logo-mercadopago.jpg" alt="Mercado pago"></article>
                </section>
                
                <section class="Forma-de-envio">
                    <p> Forma de Envio <p>
                    <img width=60px src="/images/Correo-Argentino-Logo.jpg" alt="Correo Argentino">
                </section>

                <section class="Menu-del-footer">
                    <div><a href="">Contacto </a></div>
                    <div> <a href="">Como comprar </a></div>
                    <div> <a href="">Politica de cambio </a></div>
                    <div> <a href="">Nosotros</a></div>
                </section>      
            </footer>

            <!--FIN footer-->







</div>

</body>
</html>



