<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/estilosLau.css">
</head>
<body>
    
<!--CONTAINER-->
<div class="container"></div>
    <!--HEADER-->
    <header>
        <div class="rectanguloAzul">
            <h4><i class="fas fa-shipping-fast"></i></i> Envios a todo el país</h4>
            <div><a href=""><img width=100px src="/images\facebook.jpg" alt="facebook"></a></div>
            <div><a href=""><img width=100px src="/images\instagram.jpg" alt="instagram"></a></div>
            <div><a href=""><img width=100px src="/images\whatsapp.jpg" alt="whatsapp"></a></div>
            
        </div>
        <div class="logo">
            <img width=100px src="/images\logo.jpg" alt="logo">
        </div>
        <div class="menuHorizontal">
            <div><a href="">HOME</a></div>
            <div><a href="">INDUMENTARIA <i class="fas fa-sort-down"></i></a></div>
            <div><a href="">ACCESORIOS <i class="fas fa-sort-down"></i></a></div>
            <div><a href="">MERCHANDISING <i class="fas fa-sort-down"></i></a></div>    
        </div>
        <div class="valija"><a href=""><i class="fas fa-shopping-bag"></i></a></div>
        <div class="buscador"><a href=""><i class="fas fa-search"></i></a></div>
    </header>
    <!--FIN HEADER-->

</div><!-- FIN CONTAINER-->

    <!--MAIN-->   

    <main>
        <div class="rectanguloNaranja">
            <section class="aside1">
                <article><a href=""><img width=100px src="imagen1" alt="imagen1"></a></article>
                <article><a href=""><img width=100px src="imagen2" alt="imagen2"></a></article>
                <article><a href=""><img width=100px src="imagen3" alt="imagen3"></a></article>
                <article><a href=""><img width=100px src="imagen4" alt="imagen4"></a></article>

            </section>

            <section class="container-small">

                <article><a href=""><img src="imagen1" alt="Menú con Imagen de Indumentaria" > Menú con Imagen de Indumentaria</a></article>
                <article><a href=""><img src="imagen1" alt="Menú con Imagen de Accesorios" > Menú con Imagen de Accesorios</a></article>
                <article><a href=""><img src="imagen1" alt="Menú con Imagen de Merchandising" > Menú con Imagen de Merchandising</a></article>
            </section>
           
            <section class="aside2">
                <article><a href=""><img width=100px src="barridoImagen1" alt="barridoImagen1"></a></article>
                <article><a href=""><img width=100px src="barridoImagen2" alt="barridoImagen2"></a></article>
                <article><a href=""><img width=100px src="barridoImagen3" alt="barridoImagen3"></a></article>
                <article><a href=""><img width=100px src="barridoImagen4" alt="barridoImagen4"></a></article>
                <article><a href=""><img width=100px src="barridoImagen5" alt="barridoImagen5"></a></article>
                <article><a href=""><img width=100px src="barridoImagen6" alt="barridoImagen6"></a></article>
                <article><a href=""><img width=100px src="barridoImagen7" alt="barridoImagen7"></a></article>
                <article><a href=""><img width=100px src="barridoImagen8" alt="barridoImagen8"></a></article>
                <article><a href=""><img width=100px src="barridoImagen9" alt="barridoImagen9"></a></article>

            </dsection>


        </div>

    </main>



    <!--FIN MAIN-->    
</div><!-- FIN CONTAINER-->

<div class="container">
    <!--footer-->
     <footer>
        <div class="Medios de pagos">
            <h4> Medios de pago </h4>
            <img width=100px src="/images/logo-mercadopago.jpg" alt="Mercado pago"></a>
        </div>
        <div class="Forma de envio">
                <h4> Forma de Envio </h4>
                <img width=75px src="/images/Correo-Argentino-Logo.jpg" alt="Correo Argentino"></a>
        </div>
        <div class="Menu del footer">
            <div><a href="">Contacto </a></div>
            <div> <a href="">Como comprar </a></div>
            <div> <a href="">Politica de cambio </a></div>
            <div> <a href="">Nosotros</a></div>
            
        </div>      
    </footer>
</div>
    <!--FIN footer-->









</body>
</html>