<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    
<!--CONTAINER-->
<div class="container"></div>
    <!--HEADER-->
    <header>
        <div class="rectanguloAzul">
            <h4><i class="fas fa-shipping-fast"></i></i> Envios a todo el país</h4>
            <div><a href=""><img width=100px src="/images\facebook.jpg" alt="facebook"></a></div>
            <div><a href=""><img width=100px src="/images\instagram.jpg" alt="instagram"></a></div>
            <div><a href=""><img width=100px src="/images\whatsapp.jpg" alt="whatsapp"></a></div>
            
        </div>
        <div class="logo">
            <img width=100px src="/images\logo.jpg" alt="logo">
        </div>
        <div class="menuHorizontal">
            <div><a href="">HOME</a></div>
            <div><a href="">INDUMENTARIA <i class="fas fa-sort-down"></i></a></div>
            <div><a href="">ACCESORIOS <i class="fas fa-sort-down"></i></a></div>
            <div><a href="">MERCHANDISING <i class="fas fa-sort-down"></i></a></div>    
        </div>
        <div class="valija"><a href=""><i class="fas fa-shopping-bag"></i></a></div>
        <div class="buscador"><a href=""><i class="fas fa-search"></i></a></div>
    </header>
    <!--FIN HEADER-->

</div><!-- FIN CONTAINER-->

<div class="container"></div>
    <!--footer-->
     <footer>
        <div class="Medios de pagos">
            <h4> Medios de pago </h4>
            <img width=100px src="/images/logo-mercadopago.jpg" alt="Mercado pago"></a>
        </div>
        <div class="Forma de envio">
                <h4> Forma de Envio </h4>
                <img width=75px src="/images/Correo-Argentino-Logo.jpg" alt="Correo Argentino"></a>
        </div>
        <div class="Menu del footer">
            <div><a href="">Contacto </a></div>
            <div> <a href="">Como comprar </a></div>
            <div> <a href="">Politica de cambio </a></div>
            <div> <a href="">Nosotros</a></div>
            
        </div>

            

            
    </footer>
    <!--FIN footer-->

</div><!-- FIN CONTAINER-->

</body>
</html>