<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

<body>
    <div class="container-fluid">
           <%-include("./partials/header")%>
            <main>

                <!--MAIN-->   

                    <div></div>
                    
                   <div class="mainHome">
                        <section class="aside1">
                             <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="\images\carrusel1\1Alicia.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="\images\carrusel1\2cortazar.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="\images\carrusel1\3principito.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="\images\carrusel1\4poe.jpg" alt="Fourth slide">
                                    </div>
                                </div>
                            </div>
                            

    
                        </section>
                
                        <section class="menuFotos">
                          
                                <article class="img-container-small"><a href="../products/listIndumentaria"><img class="imagenMenu" src="\images\fotosVisteteDePoder\indumentaria.jpg" alt="Menú con Imagen de Indumentaria" >
                                    <p class="indumentariaLetras">Indumentaria</p></a></article>
                                <article class="img-container-small"><a href="../products/listMerchandising"><img class="imagenMenu" src="\images\fotosVisteteDePoder\accesorios.jpg" alt="Menú con Imagen de Accesorios" >
                                    <p class="accesorioLetras">Merchandising</p></a></article>
                                <article class="img-container-small"><a href="../products/listAccesorios"><img class="imagenMenu" src="\images\fotosVisteteDePoder\merchandising.jpg" alt="Menú con Imagen de Merchandising" >
                                    <p class="merchanidingLetras">Accesorios</p></a></article>
                            
                          
                        </section>

                        <!-- <article><a href="/products/detailProductUs/100"><img  src="\images\fotosCarruProductos\1.jpg"></a></article> -->
                        
                        <section class="slider">

                            
                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           
                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           
                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           
                        
                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           

                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           

                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           
                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           
                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           
                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           
                            <article><a href="/products/detailProductUs/87"><img  src="/images/fotosVisteteDePoder/masProductos1.jpg" alt="barridoImagen1"></a></article>
                            <article><a href="/products/detailProductUs/88"><img src="/images/fotosVisteteDePoder/masProductos2.jpg" alt="barridoImagen2"></a></article>
                            <article><a href="/products/detailProductUs/91"><img  src="/images/fotosVisteteDePoder/masProductos3.jpg" alt="barridoImagen3"></a></article>
                            <article><a href="/products/detailProductUs/90"><img  src="/images/fotosVisteteDePoder/masProductos4.jpg" alt="barridoImagen4"></a></article>
                            <article><a href="/products/detailProductUs/89"><img  src="/images/fotosCarruProductos/1.jpg" alt="barridoImagen4"></a></article>
                           
                           
                           
                           
                           
                           
                           
                           
                           
                           
                            
                        </section>

                        
                    </div>
            
                
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                   
                    
                <!--FIN MAIN-->    

            </main>

           <%-include("./partials/footer")%>





    </div>

</body>
</html>