<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <!--copiar header-->

    <!--LOGIN-->
    <main>

        <form action="/home" method=get>
            
            <h3>Crear cuenta</h3>
            <p><label for="nombre"></label></p>
            <p><i class="fas fa-user"></i><input type="text" placeholder="Nombre de usuario" id="nombre" name="NyP"></p>
         
            <p></i><label for="contraseña"></label></p>
            <p><i class="fas fa-lock"></i><input type="password" placeholder="Contraseña" id="contraseña" name="contraseña"></p>
           
            
             <!--Envían al home-->
           <button type="submit">Iniciar sesion</button>

           <p><a href="">Me olvide mi contraseña</a></p>
           <p><a href="\login">¿No tenés cuenta? Crear una cuenta nueva</a></p>
    
        </form>
    
      </main>

    <!--copiar footer-->
</body>
</html>