<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <!--copiar header-->

    <!--LOGIN-->
    <main>

        <form action="/home" method=get>
            
            <h3>Crear cuenta</h3>
            <p><label for="nombre"></label></p>
            <p><input type="text" placeholder="Tu nombre" id="nombre" name="NyP"></p>
         
            
            <p><label for="email"></label></p>
            <p><input type="email" placeholder="Correo electrónico"id="email" name="email"></p>
          

            <p><label for="contraseña"></label></p>
            <p><input type="password" placeholder="Contraseña" id="contraseña" name="contraseña"></p>
            <p>! La contraseña debe tener al menos seis caracteres</p> 
            <p><label for="confirmaciónContraseña"></label></p>
            <p><input type="password" placeholder="Vuelve a escribir la contraseña" id="confirmaciónContraseña" name="confirmaciónContraseña"></p>
            
             <!--Envían al home-->
           <button type="submit">Crear tu cuenta en Vistete de Poder</button>

           <p>¿Ya tenés una cuenta? <a href="\ingreso">Iniciar sesión</a></p>
    
        </form>
    
      </main>

    <!--copiar footer-->
</body>
</html>