<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href = "https://fonts.googleapis.com/css2? family = Josefin + Sans & display = swap" rel = "stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
 
</head>
<body>
    <div class="container">
        <!--HEADER-->
        <header>
            <section class="header1">
                <!--<img class="encabezadoGris"src="/images\fotosVisteteDePoder\encabezadoGris.jpg" alt="encabezadoGris">
                -->
                    <div class="envios">
                        <i class="fas fa-shipping-fast"></i>
                        Envios a todo el país
                    </div>

                    <div class="redes">
                        <div class=f><a href=""></a><img src="/images/facebook.jpg" alt="facebook"></a></div>
                        <div class=i><a href=""></a><img src="/images/instagram.png" alt="instagram"></a></div>
                        <div class=w><a href=""></a><img src="/images/whatsapp.png" alt="whatsapp"></a></div> 
                            <!--no funciono cambiar el formato a PNG-->
                    </div>    
            </section>

            <section class=header2>
                <article class="logo"><img src="/images\logo.jpg" alt="logo">
                </article>   

                <div class="menuHorizontal">
                    <div><a href=""></a>HOME</div>
                    <div><a href=""></a>INDUMENTARIA <i class="fas fa-sort-down"></i></a> </div>
                    <div><a href=""></a>ACCESORIOS<i class="fas fa-sort-down"></i></a></div>
                    <div><a href=""></a>MERCHANDISING<i class="fas fa-sort-down"></a></i></div>    
                </div>

                <div class="valija"><a href=""></a><i class="fas fa-shopping-bag"></i></a></div>
                
                <div class="buscador"><a href=""></a><i class="fas fa-search"></i></a></div>

            </section>
            
        </header>

        <!--MAIN-->   

           <section class="Nombre-Producto">
               <h3> Remera </h3>
            </section>
                    
         <div class="fondo-detalle-producto">
             
                     <section class="producto">
                         <article> <img width=100px src="/images/fotosVisteteDePoder/indumentaria.jpg" alt="Remera"></article>
                            <h2>Remera </h2>
                    </section>

                      <section class="descripcion">
                         <p>Descripcion del producto lo que tiene impreso,con historia de la imagen,ETC.</p>
                          <h5>Precio $54.00</h5>
                        
                    
                         <section class="talle-cantidad">

                               <label for="" > Talle: </label>                         
                                <select name ="talle">
                                    <option value="S">Small</option>
                                    <option value="M">Medium</option>
                                    <option value="L">Large</option>
                                    <option value="XL">Extra-Large</option>
                              </select>

                             <label for="" > Cantidad: </label>                         
                               <select name="Cantidad" >
                                  <option value="uno">1</option>
                                  <option value="dos">2</option>
                                  <option value="tres">3</option>
                                  <option value="cuatro">4</option>
                                  <option value="cinco">5</option>
                                  <option value="seis">6</option>
                                  <option value="siete">7</option>
                                  <option value="ocho">8</option>
                                  <option value="nueve">9</option>
                                  <option value="diez">10</option>
                              </select>
                         </section>
                          <button type="button">Añadir a carrito</button>

                        </section>





                    
    





















         </div>
        <footer>
            <section class="Medios-de-pagos">
                <p> Medios de pago </p>                    
                <img width=50px src="/images/logo-mercadopago.jpg" alt="Mercado pago"></article>
            </section>
            
            <section class="Forma-de-envio">
                <p> Forma de Envio <p>
                <img width=60px src="/images/Correo-Argentino-Logo.jpg" alt="Correo Argentino">
            </section>

            <section class="Menu-del-footer">
                <div><a href="">Contacto </a></div>
                <div> <a href="">Como comprar </a></div>
                <div> <a href="">Politica de cambio </a></div>
                <div> <a href="">Nosotros</a></div>
            </section>      
        </footer> 
</body>
</html>