<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href = "https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel = "stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
            <!--HEADER-->
            <header>
                <section class="header1">
                   
                        <div class="envios">
                            <i class="fas fa-shipping-fast"></i>
                            Envios a todo el país
                        </div>

                        <div class="redes">
                            <div class="f"><a href=""></a><img class="f" src="/images/facebook.jpg" alt="facebook"></a></div>
                            <div class="i"><a href=""></a><img src="/images/instagram.png" alt="instagram"></a></div>
                            <div class="w"><a href=""></a><img src="/images/whatsapp.png" alt="whatsapp"></a></div> 
                    
                        </div>    
                </section>

                <section class=header2>
                    <article class="logo"><img src="/images\logo.jpg" alt="logo"></article>   

                    <div class="menuHorizontal">
                        <div><a href="#"></a>HOME</div>
                        <div><a href="#"></a>INDUMENTARIA <i class="fas fa-sort-down"></i></a> </div>
                        <div><a href="#"></a>ACCESORIOS<i class="fas fa-sort-down"></i></a></div>
                        <div><a href="#"></a>MERCHANDISING<i class="fas fa-sort-down"></a></i></div> 
                    </div>

                    <div class="buscadores">
                       <div class="valija"><a href=""></a><i class="fas fa-shopping-bag"></i></a></div>
                       <div class="buscador"><a href=""></a><i class="fas fa-search"></i></a></div>
                    </div>
                </section>
                
            </header>
            <!--FIN HEADER-->
            <main>

                <!--MAIN-->  
                
<form  action="/home" method=get>
    <div class="registro1">
        <label for="nombre"><i class="fas fa-user"></i></label>
        <label for="email"><i class="fas fa-envelope"></i></label>
        <label for="contraseña"><i class="fas fa-lock"></i></i></label>
        <label class="ultimoLabel" for="confirmaciónContraseña"><i class="fas fa-lock"></i></label>
    </div>

    <div class="registro2">
        <h3>Crear cuenta</h3>

        <input class=inputsRegistro type="text" placeholder="Tu nombre" id="nombre" name="NyP">
                 
        <input class="inputsRegistro" type="email" placeholder="Correo electrónico"id="email" name="email">
                  
        <input class="inputsRegistro" type="password" placeholder="Contraseña" id="contraseña" name="contraseña">
         
        <p class="textoContraseña">!La contraseña debe tener al menos seis caracteres</p> 
         
        <input class="inputsRegistro" type="password" placeholder="Vuelve a escribir la contraseña" id="confirmaciónContraseña" name="confirmaciónContraseña"></p>
      
                     <!--Envían al home-->
        <button class="enviar" type="submit">Crea tu cuenta en Vistete de Poder</button>
    
        ¿Ya tenés una cuenta? 
     
        <a class="aIngreso"href="\ingreso">Iniciar sesión</a>
   </div>
</form>
          
            </main>

            <!--footer-->
            <footer>
                <section class="Medios-de-pagos">
                    <p> Medios de pago </p>                    
                    <img width=50px src="/images/logo-mercadopago.jpg" alt="Mercado pago"></article>
                </section>
                
                <section class="Forma-de-envio">
                    <p> Forma de Envio <p>
                    <img width=60px src="/images/Correo-Argentino-Logo.jpg" alt="Correo Argentino">
                </section>

                <section class="Menu-del-footer">
                    <div><a href="">Contacto </a></div>
                    <div> <a href="">Como comprar </a></div>
                    <div> <a href="">Politica de cambio </a></div>
                    <div> <a href="">Nosotros</a></div>
                </section>      
            </footer>

            <!--FIN footer-->

    </div>

</body>
</html>