/*ESTE CSS ES EL DELA VISTA DE CART.EJS ,FIJARME DPS POR QUE*/

.rectanguloPrinpipal {
    margin: auto; 
    box-sizing: inline-block;
}

.tituloMiCarrito{
    background-color: rgba(148, 211, 148, 0.8);
    font-size: 1.2rem;
    /* margin:0px 5% 20px 5%; */
    padding: 3px 0px 3px 20px;
    border-radius: 5px;
    /* box-shadow: 1px 3px 5px grey;    */
    width: 52%;
    margin: auto;
    margin-bottom: 10px;

}
#items{
    /* border:solid 1px red; */
    width:50%;
    margin:0px 5% 20px 5%;
    margin: auto;
}
#items li{ 
    background-image:url("/images/fotosVisteteDePoder/fondoFormularios.jpg");
    margin-top:1%;
    list-style: none;
    border-radius: 2%;
    box-shadow: 1px 3px 5px grey;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#items li .imagenCarrito{
    /* border:1px solid red; */
    width: 20%;
    margin: 2%;
    box-shadow: 1px 3px 5px grey;
    background: #efeff3;
    display:flex;
    justify-content: center;
 
}
#items li .imagenCarrito img{
    width: 100%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 8%;
}
#items li .datosProdCarrito{
    width: 40%;
    /* border:1px solid green; */
    padding: 0%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}
#items li .datosProdCarrito .cantidadCarrito{
    padding-left: 1rem;
    padding-top: 5%;
    font-weight: 500;
    color: #4c4c49;
}
#items li .datosProdCarrito .precioCarrito{
    /* padding-left: 1rem; */
    /* padding-top: 5% 0% 5% 0; */
    font-weight: 500;
    color: #4c4c49;
    margin: 10px 0px 10px 0px;
}
#items form{
    background-image:none;
    width: 100%;
    margin:0px;
    /* border:1px solid red; */
}
#items .borrarProducto{
    width: 85%;
    /* border:1px solid violet; */
    padding-left: 0px;
    margin: 10px;
}

#items .botonTotal{
    background-color: rgba(148, 211, 148, 0.8);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    color: #4c4c49;
    padding-top:3px;
    padding-bottom:3px;
    margin-top: 18px;
}
#items .botonComprar{
    /* border:1px solid red; */
    margin:0px;
    margin-bottom: 3px;
    background-color: rgb(214, 79, 79);
    color:#efeff3;
    font-weight: 500;
}
#boton-vaciar{
    margin-bottom: 18px;
}
#items .carritoVacio{
    color:red;
    text-align: center;
    margin-bottom: 18px;
}
/* @media (max-width: 1024px) {} */
/* @media (max-width: 750px) {} */
/* @media (max-width: 480px) {} */

@media (max-width: 1024px) {
    .tituloMiCarrito{
        width: 72%;
    }
    #items{
        /* background-color: red; */
        width: 70%;
    }
}

@media (max-width: 750px) {
    .tituloMiCarrito{
        width: 90%;
    }
    #items{
        /* background-color:yellow; */
        width: 85%;
    }
    #items li .datosProdCarrito{
        width: 60%;
    }
    #items li .datosProdCarrito .cantidadCarrito{
        font-size: 0.8rem;
    }
    #items li .datosProdCarrito .precioCarrito{
       font-size: 0.8rem;
    }
    #items li .datosProdCarrito .borrarProducto{
        width: 70%;
        font-size: 0.8rem;
     }
}
@media (max-width: 480px) {
    .tituloMiCarrito{
        width: 90%;
    }
    #items{
        /* background-color:green; */
        width: 85%;
    }
    #items li .datosProdCarrito{
        width: 70%;
    }
    #items li .datosProdCarrito .cantidadCarrito{
        font-size: 0.7rem;
    }
    #items li .datosProdCarrito .precioCarrito{
       font-size: 0.7rem;
    }
    #items li .datosProdCarrito .borrarProducto{
        width: 70%;
        font-size: 0.7rem;
     }
}


























 




