.rectanguloPrinpipal {
    margin: auto; 
    
}

.tituloMiCarrito{
   
    /*border: solid 3px black;
    background-color: green;*/
 
    
    margin:5%;
    
}
.detalleCarrito{
    /*background-color: pink;
    border: solid 3px black;*/
    margin: 10% auto ;
    width: 90%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.detalleCompra {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.compra1{
    /*background-color: yellow;
    border: solid 3px black;*/
    width: 80%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

}




 .compra2{
    /*background-color: red;
    border: solid 3px black;*/
    width: 80%;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}


.detalleSubtotal{
   
    /*border: solid 3px black;
    background-color: blue;*/
    background-image:url("/images/fotosVisteteDePoder/fondoFormularios.jpg");
    text-align: center;
    margin: auto;
    width: 30vw;
    
    height: 30vh;
    display: flex;
    flex-direction: column;
    
     
}

.detalleArticulo{

 
}

