.Nombre-Producto{
    width: 601px;
    display:flex;
    display: flex;
    margin-left: 300px;
    margin-top: 90px;
    background-color:#a5d5e2;
    color: white; 
}

.producto-y-descripcion{
 
    display:flex;
    font-family : 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    font-size: 20px;
    margin-bottom:100px;
    margin-top: 20px;
}



.producto{
    flex-direction: row;
    flex-wrap: wrap;
    width:200px;
    height: 280px;
    margin-left: 300px;
    display: flex;
  
    }
 /*img{
        box-shadow: 1px 3px 5px grey;
        background: #efeff3; 
        margin-left:15px;
        
    } */


.producto h2{
    background-color:#a5d5e2;
    color: white;
    width:200px;
    height: 45px;
}


.descripcion{
    display: flex;
    flex-wrap: wrap;
    width: 400px; 
    height: 350px;   
    flex-direction: column;
    margin-left: 30px;
    justify-content: space-around;
}
.talle-catidad{
    margin-bottom: 10px;
}

.descripcion button{
 width:375px;
 text-decoration: none;
 border: none;
 border-radius: 5px;
 background-color: #d9c65f;
 box-shadow: 3px 3px 3px grey;
 color: #4c4c49;
 font-weight: 600;
 height:45px;
 font-size:20px;
}







  