.mainProducto{
    display:flex;
    box-sizing: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid green; */
  
}

.Nombre-Producto{
    width: 50%;
    box-sizing: inline-block; 
    background-color: rgba(148, 211, 148, 0.8);
    font-size: 1rem;
    font-weight: 600;
    color:#4c4c49;
    margin:10px 5% 10px 5%;
    padding: 8px 0px 5px 20px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px grey;
    /* border: 1px solid black; */
}
main .tarjeta{
    /* border:1px solid green; */
    display:flex;
    padding: 0% 2%;
    box-shadow: 1px 3px 5px grey;
    /* background-color: red; */
    background-image:url("/images/fotosVisteteDePoder/fondoFormularios.jpg");
    width: 50%;
   margin-bottom: 20px;
}
main .fotoProducto{
    /* border: 1px solid green; */
    box-shadow: 1px 3px 5px grey;
    background: #efeff3;
    display:flex;
    justify-content: center;
    width: 45%;
}


.producto-y-descripcion{
 
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family : 'Josefin Sans', sans-serif; 
    width: 100%;
    padding: 2%;
}

.producto{
    flex-direction: row;
    flex-wrap: wrap;
    width:200px;
    height: 280px;
    margin-left: 20px;
    display: flex;
    /* border: 1px solid black; */
    }


.producto h2{
    background-color:#a5d5e2;
    color: white;
    width:200px;
    height: 45px;
    /*border: 1px solid red;*/
}


.descripcion{
    
    display: flex;
    /* flex-wrap: wrap; */
    width: 45%; 
    height: 350px;   
    flex-direction: column;
    justify-content: space-around;
    /* padding-top: 20px; */
    /* border: 1px solid red; */
}
.descripcion .remera1{
    font-size: 1.2rem;
    font-weight: 500;
}
.talle-catidad{
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}

.fotoProducto {
   margin-right: 5%;
}

.fotoProducto article{
   padding:0px;
   display:flex;
   justify-content: center;

}
.fotoProducto article img{
    width: 90%;
    margin: 10px 10px 50px 10px;
  
}

.producto-y-descripcion p{
    margin:0px;
    font-weight: 500;
    /* font-size: 1.1rem; */
}
.producto-y-descripcion h4{
    margin:0px;
    font-size: 1.2rem;
}

.descripcion .borrar{
    width:100%;
    background-image: none;
    margin:0px;
}
.tarjetamini{
    /* border: red solid 1px; */
    width: 50%;
    display:flex;
    text-decoration: none;
    color:#4c4c49;    
}
.listado{
    display:flex;
    flex-direction: column;
    /* border:1px violet solid; */
    justify-content:center;
    align-items: center;
    padding:0px;
    width:100%

}
/* .tarjetamini .remera1{
    font-size: 1.2rem;
} */
ul li .fondo{
    display:flex;
    justify-content: start;
    background-image:url("/images/fotosVisteteDePoder/fondoFormularios.jpg");
    box-shadow: 1px 3px 5px grey;
    margin:10px;
    width: 100%;
 
}
 .añadirCarrito{
    display:flex;
    /* border: 1px solid red; */
    /* flex-direction: column; */
}
 .añadirCarrito input{
   padding: 0px;
   margin:0px;
}
 .añadirCarrito .number{
    border-radius: 5px;
    width: 20%;
    margin:15px 10px 10px;
    font-size: 0.9rem;
}



/* @media (max-width: 1024px) {} */
/* @media (max-width: 750px) {} */
/* @media (max-width: 480px) {} */

@media (max-width: 1024px){
    /* .mainProducto{ */
        /* background-color: red; */
    /* } */
    .descripcion .remera1{
        font-size: 1.2rem;
    }
    main .Nombre-Producto{
        width: 70%;
        font-size: 1.2rem;
    }
    main .tarjetamini{
        width: 72%;
    }
    main .tarjeta{
        /* border:1px solid black; */
        width: 70%;
    }
    .descripcion h4{
        font-size: 1.2rem;
    }
    
}
@media (max-width: 800px){
     /* .mainProducto{ 
         background-color: violet; 
     }  */
    .descripcion .remera1{
        font-size: 1.2rem;
    }
    main .Nombre-Producto{
        width: 85%;
        font-size: 1.2rem;
    }
    main .tarjeta{
        /* border:1px solid black; */
        width: 85%;
        font-size: 1rem;
    }
    /* main .tarjeta {
        border:1px solid black;
        width: 80%;
    } */
    .descripcion h4{
        font-size: 1.2rem;
    }
    /* .producto-y-descripcion p{
        font-size: 0.9rem;
    } */
    ul .tarjetamini{
        width: 85%;
    }
   
    ul li .fotoProducto{
        /* border:3px solid orange; */
        width: 40%;
    }
    ul li .descripcion{
        width: 55%;
    }
    ul li .descripcion .remera1{
        /* border:1px solid orange; */
        font-size: 1rem;
    }
    ul li .descripcion .añadirCarrito{
        /* border:1px solid orange; */
        font-size: 1rem;
        padding:0px;
        margin:0px;
    }
    .descripcion .añadirCarrito button{
        font-size: 0.8rem;
    }
}
@media (max-width: 480px){
     /* .mainProducto{
         background-color:yellow; 
    }  */
    main .Nombre-Producto{
        width: 95%;
        font-size: 0.9rem;
    }
    main .tarjeta{
        /* border:1px solid black; */
        width: 95%;
        font-size: 0.8rem;
        /* justify-content: flex-start; */
        /* align-items: flex-start; */
    }
    main .fotoProducto{
        /* border:1px solid black; */
        margin-top: -15%;
    }
    .descripcion .remera1{
        font-size: 0.9rem;
    }
    .descripcion h4{
        font-size: 0.9rem;
    }
    .descripcion button{
        font-size: 0.9rem;
    }
    .descripcion .añadir{
        /* border: 1px solid red; */
        z-index: 1;
        width: 220%;
        margin-left: -120%;
        font-size: 0.9rem;
    }
    ul .tarjetamini{
        width: 95%;
    }
    ul li .descripcion .remera1{
        /* border:1px solid orange; */
        font-size: 0.8rem;
    }
   
    ul li .descripcion .añadirCarrito{
        /* border: 1px solid red; */
        z-index: 1;
        width: 180%;
        margin-left: -80%;
        font-size: 0.9rem; 
    }
    /* .descripcion .añadirCarrito button{
        font-size: 0.6rem;
    } */
    .tarjeta .descripcion .añadirCarrito{
        /* border: 1px solid red; */
        z-index: 1;
        width: 200%;
        margin-left: -120%;
        font-size: 0.9rem; 
    }
}