/*form{
    box-sizing: inline-block;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-family : 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    font-size: 20px;
    color:#4c4c49;
}*/
/*caja padre*/
form{
    /* border:1px solid red; */
    box-sizing: inline-block;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-family : 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    font-size: 20px;
    color:#4c4c49;
    background-image:url("/images/fotosVisteteDePoder/fondoFormularios.jpg");
    width: 50%;
    border-radius: 5px;
    display:flex;
    justify-content:center;
    border-radius: 5px;
    margin: 30px auto;
    
   
}
form .ingreso1{
    
    margin-top: 58px;
    /*border: 1px solid red;*/
    width: 10%;
    justify-content: center;
   /* border: 1px solid green;*/
    text-align: center;
}
form .ingreso1 i{
    padding:8px;
    margin-top: 8px;
}

.nombre input, .contraseña input{
    display:block;
    text-decoration: none;
    border:none;
    width: 99.3%;
    border-radius:5px;
    box-shadow: 1px 3px 5px grey;
    margin-top:15px;
    margin-bottom:20px;
    font-family : 'Josefin Sans', sans-serif; 
    font-size: 1rem;
    height: 30px;
  
}
/*
.nombre input:focus, .contraseña input:hover{
    quiero sacarle el borde negro al input
}*/


/*====INGRESO2======*/
main form .ingreso2{
    /*border:1px solid green;*/
    flex-direction:column;
    width: 90%;
    margin: 20px 20px 20px 0px;
    /*border: 1px solid red;*/
}

.ingreso2 .iniciarSesion{
    margin-top:15px;
    margin-bottom:45px;
    text-decoration: none;
    border:none;
    border-radius:5px;
    width: 100%;
    background-color: #d9c65f;
    box-shadow: 3px 3px 3px grey;
    color:#4c4c49;
    font-weight: 600;
    font-family : 'Josefin Sans', sans-serif; 
    font-size: 1rem;
    height: 30px;
   
}
.ingreso2 .iniciarSesion:hover{
    background-color: #cabb61;
}

.ingreso2 .iniciarSesion:focus{
    box-shadow: inset 1px 1px 5px grey;
    color:#4c4c49;
     /*quiero sacarle el borde negro al buttom*/ 
}
main .textoContraseña{
    color:#4c4c49;
}

main form .preguntas{
    /* border: 1px solid red; */
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    /* padding-bottom: 20px; */
    font-weight: 500;
    display:block;
    background-color: rgba(148, 211, 148, 0.8);
    /*background-color: #eeeef7;*/ 
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    color:#4c4c49;
    text-align: center;
    text-decoration: none;
    height: 25px;
}
main .preguntas:hover{
    color:#4c4c49;
    text-decoration: none;
    background-color:rgb(148, 211, 148);
    
}
main .preguntas:focus{
    box-shadow: inset 1px 3px 5px rgb(80, 79, 79);
    color:#61615d;
}
form .preguntita{
    padding-left: 10px;
}



/*=======REGISTRO======*/

/*=======registro1======*/

form .registro1{
    /*border:1px solid green;*/
    display:flex;
    flex-direction:column;
    width: 10%;
    padding-top: 65px;
    /*border: 1px solid red;*/
    text-align: center;
}
form .registro1 i{
    margin:18px;
}
form .registro1 .ultimoLabel{
    margin-top: 47px;
}


/*=======registro2======*/

form .registro2{
    flex-direction:column;
    width: 90%;
    margin: 20px 20px 20px 0px;
    /*border: 1px solid red;*/
    /*border: 1px solid green;*/
}

form .registro2{
    display:flex;
    flex-direction: column;  
}
/*======INPUTS====*/
.registro2 .inputsRegistro{
    /*border:1px solid red;*/
    display:block;
    text-decoration: none;
    border:none;
    width: 99.3%;
    border-radius:5px;
    box-shadow: 1px 3px 5px grey;
    margin-top:15px;
    margin-bottom:20px;
    font-family : 'Josefin Sans', sans-serif; 
    font-size: 1rem;
    height: 30px;
}
.errores{
   background-color:rgb(252, 239, 239); 
}
.errornombre{
    color:red;
    font-size: 0.9rem;
}

.errorPrecio{
    color:red;
    font-size: 0.9rem;
}

.errorDescripcion{
    color:red;
    font-size: 0.9rem;
}

.textoContraseña{
    font-weight: 500;
    font-size: 18px;
}
/*======ENVIAR====*/
.registro2 .enviar{
    margin-top:15px;
    margin-bottom:45px;
    text-decoration: none;
    border:none;
    border-radius:5px;
    width: 100%;
    background-color: #d9c65f;
    box-shadow: 3px 3px 3px grey;
    color:#4c4c49;
    font-weight: 600; 
    font-family : 'Josefin Sans', sans-serif; 
    font-size: 1rem;
    height: 30px;
   
}
.registro2 .enviar:hover{
    background-color: #cabb61;
}
/*======A-INGRESO====*/
.registro2 .aIngreso{
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 4px;
    font-weight: 500;
    background-color: rgba(148, 211, 148, 0.8);;
    /*background-color: #eeeef7;*/ 
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    color:#4c4c49;
    font-family : 'Josefin Sans', sans-serif; 
    font-size: 1rem;
    height: 25px;
    text-align: center;
    text-decoration: none;
   
}
.registro2 .aIngreso:hover{
    color:#4c4c49;
    text-decoration: none;
    background-color:rgb(148, 211, 148);  
}
.registro2 .aIngreso:focus{
    box-shadow: inset 1px 3px 5px rgb(80, 79, 79);
    color:#61615d;
}
.padreGif{
    /* border:1px solid violet; */
    justify-content: center;
    align-items: center;
}

.gif{
    background : white;
    width: 20%;
    border:5px solid white;     
    margin:auto;
    margin-bottom: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 3px 5px grey;
}

.gif img{
    width: 100%;
}


/* @media (max-width: 1024px) {} */
/* @media (max-width: 750px) {} */
/* @media (max-width: 480px) {} */
/*====TABLET ingreso===============================================================*/

@media (max-width: 1024px){


   
    /* form .ingreso1{
    background-color: violet;
    /* text-align: center;
    font-size: 0.9rem;
    margin-top: 70px; */
    
    form .ingreso2{
        font-size: 0.9rem;
   } 
    form .ingreso2 input{
    font-size: 0.9rem;
   }    
    form .ingreso2 .preguntas{
    font-size: 1rem;
   }    
}

/*=======TABLET intermedio ingreso===============================================================*/

@media (max-width: 750px){
    form{
        width:70%
    }
   
    form .ingreso1{
    padding-right: 5px;
    /* background-color: green; */
    text-align: center;
    font-size: 0.8rem;
    margin-top: 52px;
    }
    form .ingreso1 i{
        margin-top: 12px;
    }
    form .ingreso2 h3 {
        /* color:red; */
        font-size: 1.5rem; 
    }
    form .ingreso2{
        font-size: 0.8rem;
   }
   form .ingreso2 input{
    font-size: 0.8rem;
   }  
   form .ingreso2 .iniciarSesion{
    font-size: 0.8rem;
   }  
   /* form .ingreso2 .preguntas{
    font-size: 0.7rem;
   }    */
}


/*=======CELULAR ingreso=========================================================================*/

@media (max-width: 560px){

    form{
        width:80%
    }
  
    form .ingreso1{
       width: 15%;
        padding-right: 5px;
        /* background-color: violet; */
        text-align: center;
        font-size: 0.7rem;
        margin-top: 45px;
        }
    form .ingreso1 i{
     margin-top: 15px;
     padding-top: 1px;
     padding-bottom: 1px;
    }
       
    form .ingreso2{
     margin: 10px 10px 10px 0px;
     width: 85%;
     font-size: 0.8rem;
     }
     form .ingreso2 h3 {
        font-size: 1.1rem; 
    }
       form .ingreso2 input{
        font-size: 0.7rem;
        height: 20px;
       }  
       form .ingreso2 .iniciarSesion{
        font-size: 0.7rem;
       }  
       form .ingreso2 .preguntas{    
        font-size: 0.8rem;
        /* height: 32px;; */
       }   
    }
    



/*=======TABLET registro========*/

@media (max-width: 1024px){

    form{
        width: 65%
    }
   
    form .registro1{
    padding-right: 10px;
    /* background-color: yellow; */
    font-size: 0.9rem;
    margin-top: 5px;
    }
    form .registro1 i{
        margin-top: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    form .registro2{
        font-size: 0.9rem;
   }
   form .registro2 h3{
    font-size: 1.5rem;
}
   main .textoContraseña{
    font-size: 0.9rem;
}
   form .registro2 input{
    font-size: 0.9rem;
   }   
}

/*=======TABLET intermedio registro========*/

@media (max-width: 750px){

    form{
        width: 75%
    }
   
    form .registro1{
    padding-right: 5px;
    /* background-color: green; */
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0px;
    }
    form .registro1 i{
        margin-top: 6px;
    }
    form .registro1 .ultimoLabel{
        margin-top: 40px;
    }
    form .registro2{
        font-size: 0.8rem;
   }
   form .registro2 .errornombre{
    font-size: 0.7rem;
}
form .registro2 .errorPrecio{
    font-size: 0.7rem;
}
form .registro2 .errorDescripcion{
    font-size: 0.7rem;
}
   form .registro2 h3{
    font-size: 1.2rem;
    /* color:red; */
}
   form .registro2 input{
    font-size: 0.8rem;
   }  
   form .registro2 .iniciarSesion{
    font-size: 0.8rem;
   }  
   main .textoContraseña{
    font-size: 0.7rem;
}
   /* form .registro2 .preguntas{
    font-size: 0.7rem;
   }    */
}


/*=======CELULAR registro========*/

@media (max-width: 480px){
  
    form{
        width: 80%
    }
    form .registro1{
       width: 15%;
        padding-right: 5px;
        /* background-color: violet; */
        text-align: center;
        font-size: 0.7rem;
        margin-top: 8px;
        }
    form .registro1 {
     padding-top:40px;
     font-size: 0.7rem;
    }
    form .registro1 i {
        padding-top: 12px;
       }

       form .registro1 .ultimoLabel {
        padding-top: 15px;
       }

    form .registro2{
     margin: 10px 10px 10px 0px;
     width: 85%;
     font-size: 0.6rem;
     }
     form .registro2 .enviar{
         font-size: 0.6rem;
     }
       form .registro2 input{
        font-size: 0.6rem;
        height: 20px;
       }  
       form .registro2 .aIngreso{
        font-size: 0.8rem;
    }
    }
    
