
/*Características*/


body{
    background-image: url("/images/fotosVisteteDePoder/papelFondoAlta.jpg");
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
 
}


/*Tipografías  (Estilo y medidas)*/

html{
    font-family : 'Josefin Sans', sans-serif; 
    font-weight: 500; 
    font-size: 18px;
    color:#4c4c49;

}
select{
    border:none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
    font-family : 'Josefin Sans', sans-serif; 
    font-weight: 500; 
    font-size: 20px;
    color: grey;
    padding-top: 3px;
    margin: 0px 5px;
}

button{
    margin-top:15px;
    margin-bottom:10px;
    text-decoration: none;
    border:none;
    border-radius:5px;
    width: 100%;
    background-color: #d9c65f;
    box-shadow: 3px 3px 3px grey;
    color:#4c4c49;
    font-weight: 600;
    font-family : 'Josefin Sans', sans-serif; 
    font-size: 1rem;
    height: 30px;
   
}
button:hover{
    background-color: #cabb61;
}

button:focus{
    box-shadow: inset 1px 1px 5px grey;
    color:#4c4c49;
     /*quiero sacarle el borde negro al buttom*/ 
}
.sinSubrayado{
    /*border: 1px solid red;*/
    color:#4c4c49;
    text-decoration: none;
}
.sinSubrayado .aCarrito{
    width:90%;
}
.añadirCarrito{
    width: 100%;
}
.container-fluid{
    padding:0px;
}


/*=========LISTADO USUARIOS=======*/

.listUsers{
    padding:0px;
    margin:0px;
}
.listUsers .infoUser{
    /* border:1px red solid; */
    display: flex;
    background-image:url("/images/fotosVisteteDePoder/fondoFormularios.jpg");
    width: 55%;
    border-radius: 5px;
    border-radius: 5px;
    margin: 30px auto;
    color:#4c4c49;
    font-weight: 600; 
    font-size: 20px;
    box-shadow: 1px 3px 5px grey;
    justify-content: space-around;
}
.listUsers .infoUser .fotoListUsuario{
    /* border: 1px solid violet; */
    padding:0px;
    box-shadow: 1px 3px 5px grey;
    background: #efeff3;
    display:flex;
    justify-content: center;
    width: 20%;
    margin: 5px;

}

.listUsers .infoUser .fotoListUsuario img{
    width: 90%;
    margin: 10px 10px 30px 10px;
}
.listUsers .infoUser .datosUser{
    /* border: 1px solid green; */
    padding: 10px;
    width: 40%;
}

.listUsers .infoUser .usersButton{
    display:flex;
    flex-direction: column;
    width: 20%;
    /* border: 1px solid black; */
    padding:0px;
}
.listUsers .infoUser .usersButton form{
    background-image: none;
    margin:0px;
    width: 100%;
}

.vistaAdm{
    display:flex;
    justify-content: space-around;
}
.vistaAdm .tajetaAdm{
    /* border:1px solid black; */
    width: 40%;
    /* margin-left: 10%; */
}
.vistaAdm .tajetaAdm h4{
    padding-left:8%;
}

.vistaAdm form .registro2 .infoAdm{
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-around;
}
.vistaAdm form .registro2 .fotoAdm{
    /* border: 1px solid violet; */
    padding:0px;
    box-shadow: 1px 3px 5px grey;
    background: #efeff3;
    display:flex;
    justify-content: center;
    width: 30%;
    margin: 5px;    
}
.vistaAdm form .registro2 .fotoAdm img{
    width: 90%;
    margin: 10px 10px 30px 10px;
}
.vistaAdm form .registro2 .infoAdm .datosAdm{
    /* border:1px solid green; */
    display:flex;
    flex-direction: column;
}
.vistaAdm form .registro2 .infoAdm .datosAdm div{
    padding:10px;
}
.vistaAdm .botonesAdm{
    /* border:1px solid violet; */
    width: 40%;
  
}
.vistaAdm .botonesAdm form{
    width: 70%;
    background-image: none;
    margin-left: 0px;
}
.botonCreated{
    background-image: none;
    margin-top: 0px;
    margin-bottom: 10px;
}
/* .listUsers .infoUser .usersButton button{
   width: 100%;
   border: 1px solid black;
} */
 @media (max-width: 1024px) {
    /* .listUsers  {
        background-color: red;
    } */
    .listUsers .infoUser{
        width:70%;
        font-size: 0.9rem;
    }
    /* .vistaAdm {
        background-color:red;
    } */
    .vistaAdm .tajetaAdm{
        /* border:1px solid black; */
        width: 50%;
    }
    .vistaAdm .botonesAdm form{
        width: 90%;
      
    }
 } 
 @media (max-width: 750px) {
    /* .listUsers  {
        background-color:green;
    } */
    .listUsers .infoUser{
        width:80%;
        font-size: 0.8rem;
    }
    .listUsers .infoUser .usersButton button{
        font-size: 0.9rem;
       /* border: 1px solid black; */
       } 
       /* .vistaAdm {
        background-color:green;
    } */
    .vistaAdm button{
        font-size: 0.8rem;
    }
 } 
 @media (max-width: 480px) {
    /* .listUsers  {
        background-color:violet;
    } */
    .listUsers .infoUser{
        width:95%;
        font-size: 0.7rem;
    }
     .listUsers .infoUser .usersButton button{
    font-size: 0.8rem;
   /* border: 1px solid black; */
   } 
    /* .vistaAdm {
    background-color:violet;
    } */
    .vistaAdm h4{
      font-size: 0.8rem;
    }
    
    .vistaAdm .datosAdm{
        width: 60%;
    }
    .vistaAdm button{
        font-size: 0.6rem;
    }
 } 
/* @media (max-width: 750px) {} */
/* @media (max-width: 480px) {} */