.container header{
    /*display:flex;*/
    flex-direction: column;
    box-sizing: border-box;
    font-family : 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    font-size: 20px;
    color:#4c4c49;
    background-size: cover;
    border: 2px solid red;
    
    

}
/*HEDAER 1*/
header .header1{
    width: 100%; 
    background-image:url("/images/fotosVisteteDePoder/papelHeaderAlta.jpg");
    display:flex;
    align-items: center;
    border: 2px solid red;
}


header .header1 .envios{
    width: 75%;
    padding: 10px;
    padding-left: 30px;
    color: #dfdfe6; 
    margin: 1%;
    border: 2px solid red;
}
header .header1 .redes{
    width: 20%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin: 1%;
    border: 2px solid red;
}

header .header1 .redes div{
    width: 40px;
    border: 2px solid red;
}

header .header1 .redes div img{
    width: 100%;
}
header .header1 .redes div .f{
    border-radius: 50%;
    width: 37px;
}



/*HEDAER 2*/
header .header2{ 
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid red;
}

header .header2 .logo{
    width: 15%;
    display:flex;
    justify-content: center;
    border: 2px solid red;
    margin-top:15px;
    margin-bottom:15px;
}
header .header2 .logo img{
    width: 70%;
    border-radius: 50%;
    border: 2px solid red;
}

header .header2 .menuHorizontal{
    width: 60%;
    margin-top: 5%;
    display:flex; 
    justify-content: space-around;
    align-items: flex-start;
    border: 2px solid red;
}
header .header2 .menuHorizontal .palabras{
    border: 2px solid green;
}
header .header2 .menuHorizontal li{
    list-style:none;
    border: 2px solid red;
}
header .header2 .menuHorizontal a{
    color: grey;
    font-weight: 500;
}
header .header2 .menuHorizontal a:hover{
    text-decoration: none; 
    color:#4c4c49;
}
header .header2 .menuHorizontal .palabras .desplegable a:focus{
    color: #bebd6d;
}

header .header2 .menuHorizontal .home{
    color:#4c4c49;
    font-weight: 600;
}
header .header2 .menuHorizontal .palabras a:hover{
    color:grey;
}
header .header2 .menuHorizontal .palabras a{
    text-decoration: none;;
}

header .header2 .menuHorizontal .palabras .desplegable a{
    text-decoration: none;;
}
header .header2 .buscadores{
    width: 20%;
    display:flex;
    border: 2px solid red;
    margin-top: 5.15%;
}
header .header2 .buscadores div{
    width: 49%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    border: 2px solid green; 
    color:#4c4c49; 
    position:relative;
    bottom:7px;
}
header .header2 .buscadores a{
    color:#4c4c49;
}
header .header2 .buscadores a:hover{
    color:grey;
}
/*header .header2 .buscadores a:focus{
    color:#bebd6d;
}*/


/*===DESPLEGABLE====*/

header .header2 .menuHorizontal .palabras ul{
    display:none;
    /*position:absolute;
    min-width:140px;*/
    border:1px solid violet;
    position: absolute;
}
header .header2 .menuHorizontal .palabras ul a{
    color:#4c4c49;
}
header .header2 .menuHorizontal .palabras:hover ul{
    display:block;
}

header .header2 .buscadores .buscador input{
    display:none;
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
    width:100%;
    height: 30px;
    position: absolute;
    margin-top: 40px;
}
header .header2 .buscadores .buscador:hover input{
    display:block;
}

header .header2 .buscadores .buscador input:focus{
    /*border:none;
    background-color: #c1e0a2;
    */
    box-shadow: inset 5px 5px 5px grey;
}