

/*estos estilos son para ver el formato de cajas*/

.container{
    width:100vw;
    box-sizing: inline-block;
    
}

/* main {
   height: 900px;*/
  /* margin:15%;
}*/
main .mainHome {
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}

.aside1 .carru1{
    width: 100vw;
}

.mainHome .menuFotos{
    width: 55%;
    display:flex;
    justify-content: space-around;
   /* border: 1px solid red;*/
}

section .img-container-small {
    display: flex;
    width: 30%;
    margin: 10px;
    box-shadow: 1px 3px 5px grey;
    background: #efeff3;       
}

section .img-container-small:hover{
    box-shadow: inset 1px 3px 5px grey;
}
section .img-container-small .imagenMenu{
    width:92.5%;
    margin:10px 10px 0px 10px;
    }
 section .img-container-small a{
     display: block;
     width: 100%;
     text-decoration: none;
 }
.indumentariaLetras{
    color: #797637;
    display:block;
    width: 20%;
    font-size: 1.2rem;
    padding:0px 10px;
    font-weight: 600; 
}
.accesorioLetras{
    color: #374258;
    display:block;
    width: 20%;
    font-size: 1.2rem;
    padding:0px 10px;
    font-weight: 600; 
}
.merchanidingLetras {
    display:block;
    width: 20%;
    color: #577535;
    font-size: 1.2rem;
    padding:0px 10px;
    font-weight: 600; 
   
}


.slider{
    margin: 50px 0px;
    width: 100%;
    display:flex; 
    /*margin:auto;*/
    /*text-align: center;*/
    /*padding: auto;*/    
    animation: cambio 10s infinite;
    /*border:1px solid red;*/
}
section.slider article{
    width: 15%;
    justify-content: center;
    /*overflow: hidden;*/
    margin:0 5%;
    /*padding:auto;*/
    /*border:1px solid green;*/
    /*background-color: tomato;*/
}

section.slider article a{
    display: block;
    width: 100%;
}
section.slider article img{
    /*width: 100%;*/
    box-shadow: 1px 3px 5px grey;
}
section.slider article img:hover{
    box-shadow: inset 1px 3px 5px grey;
}

@keyframes cambio{
    
    0% {margin-left: 0;}
    5% {margin-left: -5%;}

    5% {margin-left: -5%;}
    10% {margin-left: -10%;}

    10% {margin-left: -10%;}
    15% {margin-left: -15%;}
    
    15% {margin-left: -15%;}
    20% {margin-left: -20%;}
    
    20% {margin-left: -20%;}
    25% {margin-left: -25%;}
    
    25% {margin-left: -25%;}
    30% {margin-left: -30%;}
    
    30% {margin-left: -30%;}
    35% {margin-left: -35%;}

    35% {margin-left: -35%;}
    40% {margin-left: -40%;}

    40% {margin-left: -40%;}
    45% {margin-left: -45%;}

    45% {margin-left: -45%;}
    50% {margin-left: -50%;}

    50% {margin-left: -50%;}
    55% {margin-left: -55%;}

    55% {margin-left: -55%;}
    60% {margin-left: -60%;}
    60% {margin-left: -60%;}
    65% {margin-left: -65%;}

    65% {margin-left: -65%;}
    70% {margin-left: -70%;}
    70% {margin-left: -70%;}
    75% {margin-left: -75%;}

    75% {margin-left: -75%;}
    80% {margin-left: -80%;}

    80% {margin-left: -80%;}
    85% {margin-left: -85%;}

    85% {margin-left: -85%;}
    90% {margin-left: -90%;}

    90% {margin-left: -90%;}
    95% {margin-left: -95%;}
    95% {margin-left: -95%;}
    100% {margin-left: -100%;}

}