.detalleSubtotal{
    background-image:url("/images/fotosVisteteDePoder/fondoFormularios.jpg");
    margin: auto;
    width: 20%;
    /* height: 30vh; */
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;  
    box-shadow: 1px 3px 5px grey;
    /*border: 1px solid red; */
}
.tituloMiCarrito{
   

    /*background-color: green;*/
    /* background-color: rgba(148, 211, 148, 0.8); */
   font-size: 1.5rem;
   margin:20px 5% 20px 5%;
   padding: 8px 0px 5px 20px;
   border-radius: 5px;
   box-shadow: 1px 3px 5px grey;
}
#items{
    background-image:url("/images/fotosVisteteDePoder/fondoFormularios.jpg");
    width: 80%;
    box-shadow: 1px 3px 5px grey;
    border-radius: 5px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:10px 0px;
} 