

/*estos estilos son para ver el formato de cajas*/
body{
    background-image: url("/images/fotosVisteteDePoder/papelFondo.jpg");
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    height: 900px;
}
main .rectanguloNaranja {
    width:100%;
    padding: 0;
 
}

.aside1{
 
    padding:auto;
    margin: 0;
}

section.aside1 article{
    width:auto;
    height: 100%;

    display: inline-block;
    margin:auto;
    padding:auto;
}

.container-small div{
    text-align: center;
    margin: auto;
    padding: 3% 10%;


}

section.container-small article{
    width:auto;
    display: inline-block;
    margin:auto;
    padding: 0 5%;
    
}


.aside2{
 
    margin:auto;
    text-align: center;
    padding: 0 10%;

}
section.aside2 article{
    width:auto;
    height: 200px;
  
    display: inline-block;
    margin:auto;
    padding: 0 1.5%;
 

}