

/*estos estilos son para ver el formato de cajas*/
body{
    background-image: url("/images/fotosVisteteDePoder/papelFondo.jpg");
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
}

.aside1{
  /*  background: #F78711;*/
    padding:auto;
    margin:10px 350px 10px 350px;
    display: inline-block;  
    /*position: absolute;*/
}

section.aside1 article{
    width:auto;
    height: auto;
/*    border: 1px solid black;*/
    display: inline-block;
    margin:auto;
    padding:auto;
}

.container-small div{
    /*background: #F78711;*/
    display: inline-block;
    margin: auto;

}
.container-small {
    position: relative;

}


section.container-small article{
    width:auto;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
    margin:auto;
    padding:auto;

}


.aside2{
    /*background: #F78711;*/
    /*padding:auto;*/
    margin:auto;
    display: inline-block;

}
section.aside2 article{
    width:10%;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    margin:auto;
    padding: auto;
 

}