header{
    /*display:flex;*/
    flex-direction: column;
    box-sizing: border-box;
    font-family : 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    font-size: 20px;

}
/*HEDAER 1*/
header .header1{
    width: 100%; 
    background-image:url("/images/fotosVisteteDePoder/papelHeaderAlta.jpg");
    display:flex;
    align-items: center;
}

header .header1 .envios{
    width: 75%;
    padding: 10px;
    padding-left: 30px;
    color: #dfdfe6; 
    margin: 1%;
}
header .header1 .redes{
    width: 20%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin: 1%;
}

header .header1 .redes div{
    width: 40px;
}

header .header1 .redes div img{
    width: 100%;
}
header .header1 .redes div .f{
    border-radius: 50%;
    width: 37px;
}



/*HEDAER 2*/
header .header2{ 
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

header .header2 .logo{
    width: 20%;
    display:flex;
    justify-content: center;
}
header .header2 .logo img{
    width: 70%;
}

header .header2 .menuHorizontal{
    width: 55%;
    display:flex; 
    justify-content: space-around;
    align-items: center;
}

header .header2 .menuHorizontal li{
    list-style:none;
    text-decoration: none;
}

header .header2 .buscadores{
    width: 15%;
    display:flex;
    justify-content: space-around;

}
header .header2 .buscadores div{
    width: 49%;
    display:flex;
    justify-content: center;
    font-size: 25px;
    
}