main{
    box-sizing: inline-block;
    display:flex;
    justify-content: center;
    font-family : 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    font-size: 20px;
    color:#4c4c49;
}
main input{
    text-decoration: none;
    border:none;
    width: 100%;
}
main button{
    text-decoration: none;
    border:none;
    width: 100%;
    background-color: #d9c65f;
    box-shadow: 3px 3px 3px grey;
    color:#4c4c49;
}

main button:hover{
    box-shadow: inset 1px 1px 5px grey;
    color:#4c4c49;
}
main .separacion{
    height: 20px;
}
main .textoContraseña{
    color:grey;

}