<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
<div class="container">
   <!--HEADER-->
   <header>
    <%-include("../partials/header")%>
    
   </header> 
<!--FIN HEADER-->

                
    <main>

        <!--MAIN-->   

        <div class="rectanguloPrinpipal">
            <div class="tituloMiCarrito">Mi carrito</div>
            
            <div class="detalleCarrito">

                <div class="detalleCompra">        
                        
                    <div class="compra1">
                        
                        <div class="articulo1"><img src="\images\fotosVisteteDePoder\indumentaria.jpg" alt="imagen    indumentaria">
                        </div>
                        
                        <div class="detalleArticulo">
                            <p> Detalle del producto </p>
                        
                            <div class="descripcionCompra"> <!-- esta caja debería traer la información que se selecciona en productos-->
                                <p>Descripcion del producto </p>
                                <p>Precio $00.00</p>
                                    <label for="" > </label>  
                                <select name="talle">
                                        <option value="">Talle:</option>
                                        <option value="S">Small</option>
                                        <option value="M">Medium</option>
                                        <option value="L">Large</option>
                                        <option value="XL">Extra-Large</option>
                                </select>

                                <label for="" >  </label>
                                    <select name="Cantidad">
                                        <option value="">Cantidad:</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                
                    <div class="compra2">
                        <div class="articulo2"><img src="\images\fotosVisteteDePoder\masProductos1.jpg" alt="imagen indumentaria"></div>
                    
                        <div class="detalleArticulo">
                            <p> Detalle del producto </p>
                    
                            <div class="descripcionCompra"> <!-- esta caja debería traer la información que se selecciona en productos-->
                                <p>Descripcion del producto </p>
                                <p>Precio $00.00</p>
                                
                                <label for="" ></label>
                                <select name="Cantidad">                           
                                    <option value="">Cantidad:</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        
                        </div>
                    </div>
                
                </div> 
<!-- esta caja debería conectarse con las cajas compra1 y compra2-->
                <div class="detalleSubtotal">
                    <div>Subtotal $$$</div>
                    <div>Total General $$$</div>
                    <div><button type="submit">Completar Compra</button> </div>
                </div>
            </div>
            
            

        </div>



        <!--FIN MAIN-->    

    </main>


    <%-include("../partials/footer")%>







</div>

</body>
</html>



