<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <div class="container-fluid">
        <!--HEADER-->
        
            <%-include("../partials/header")%>
          <!-- fin del HEADER-->  

          <!--MAIN-->   
       <main class="mainProducto">        
       
       <section class="Nombre-Producto">
       Mi carrito
       </section>
    


       <ul class= "listado">

        <li class="tarjetamini">
        
         <div class="fondo">
          <div class="producto-y-descripcion">



              <section class="fotoProducto">
              
                  <article> <img src="/images/imagesProducts/avatar-1605993495926.jpg " alt=" producto "></article>
              </section>
        
        
                


            <section class="descripcion">
          

            <div class="remera1 nombre"> Nombre: Remera </div>
            <div class="remera1"> Descripción: remera de algodon</div> 
            <div class="remera1"> Diseño: Cortazar </div> 
            <div class="remera1"> Precio: $ 1500 </div>
           

             <a href="/carrito"><button class="aCarrito"type="button">Comprar</button></a>
            </section>
      
          </div>
          
        </div>
      
        </li>
     
      
      </ul>
 

            </main>

    <%-include("../partials/footer")%>
</body>
</html>