         <!--footer-->
         <footer>
            <div class="tarjetas">
                <section class="Medios-de-pagos">
                    <p> Medios de pago </p>                    
                    <img width=50px src="/images/logo-mercadopago.jpg" alt="Mercado pago"></article>
                </section>
            
                <section class="Forma-de-envio">
                    <p> Forma de Envio </p>
                    <img width=60px src="/images/Correo-Argentino-Logo.jpg" alt="Correo Argentino">
                </section>
            </div>
            <div class = "info">
                <section class="Menu-del-footer">
                    <div class="botonContacto">Contacto</div>
                    <div class="botonCompra"> Como comprar </div>
                    <div class="botonCambio"> Politica de cambio </div>
                    <div class="botonNosotros"> Nosotros </div>
                </section> 
                <section class="infoContacto">
                    <p><i class="fas fa-phone-square-alt"></i> 011 2587-2610 <br>
                        <i class="fas fa-envelope"></i>vistetedepoder@gmail.com <br>
                        Horario de atención:Lu a Sa de 9 a 16:30 hs.</p>
                </section>
                <section class="infoCompra">
                    <p>  Elegí el producto que quieras comprar, hacé clic en el botón de «Agregar al carrito»
                        Hacé clic en «Iniciar Compra». Completa tus datos de contacto e ingresá la dirección a donde queres recibir el producto. Te enviaremos por email con nuestro CBU para hacer una transferencia bancaria.Una vez acreditado el pago, haremos el envío correspondiente de los productos que hayas comprado.</p>
                </section> 
                <section class="infoCambio">
                    <p>Una vez efectuada la compra y recibido el producto, podrás realizar el cambio del mismo dentro de los próximos 30 días consecutivos, a partir de la fecha de compra.</p>
                    <p> Una vez que pase ese período VISTETE DE PODER se reserva el derecho de cambio.</p>
                </section>
                <section class="infoNosotros">
                    <p>Somos una empresa dedicada a la impresion en serigrafía de forma artesanal.
                        Trabajamos con diseños originales basados en la literatura contemporanea, con fotos de nuestros autores favoritos, frases celebres, personajes de cuentos y novelas. </p>
                </section>
                
                <script src="../JSfront/footer.js"></script>     
            </div>   
            </footer>

            <!--FIN footer-->
