         <!--footer-->
         <footer>
            <div class="tarjetas">
                <section class="Medios-de-pagos">
                    <p> Medios de pago </p>                    
                    <img width=50px src="/images/logo-mercadopago.jpg" alt="Mercado pago"></article>
                </section>
            
                <section class="Forma-de-envio">
                    <p> Forma de Envio <p>
                    <img width=60px src="/images/Correo-Argentino-Logo.jpg" alt="Correo Argentino">
                </section>
            </div>
                <section class="Menu-del-footer">
                    <div><a href="">Contacto </a></div>
                    <div> <a href="">Como comprar </a></div>
                    <div> <a href="">Politica de cambio </a></div>
                    <div> <a href="">Nosotros</a></div>
                </section>      
            </footer>

            <!--FIN footer-->
