         <!--footer-->
         <footer>
            <div class="tarjetas">
                <section class="Medios-de-pagos">
                    <p> Medios de pago </p>                    
                    <img width=50px src="/images/logo-mercadopago.jpg" alt="Mercado pago"></article>
                </section>
            
                <section class="Forma-de-envio">
                    <p> Forma de Envio <p>
                    <img width=60px src="/images/Correo-Argentino-Logo.jpg" alt="Correo Argentino">
                </section>
            </div>
            <div class = "info">
                <section class="Menu-del-footer">
                    <div class="botonContacto">Contacto</div>
                    <div class="botonCompra"> Como comprar </div>
                    <div class="botonCambio"> Politica de cambio </div>
                    <div class="botonNosotros"> Nosotros </div>
                </section> 
                <section class="infoContacto">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus ea, minus sapiente consequatur saepe accusamus dolorem nostrum qui doloremque a laudantium velit aliquam reprehenderit quos adipisci aut aspernatur provident?</p>
                </section>
                <section class="infoCompra">
                    <p>Lalalalalalal lalalallala Lalalalalalal accusamus dolorem nostrum qui doloremque a laudantium velit aliquam reprehenderit quos adipisci aut aspernatur provident?</p>
                </section> 
                <!-- <section class="infoCambio">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus ea, minus sapiente consequatur saepe accusamus dolorem nostrum qui doloremque a laudantium velit aliquam reprehenderit quos adipisci aut aspernatur provident?</p>
                </section>
                <section class="infoNosotros">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus ea, minus sapiente consequatur saepe accusamus dolorem nostrum qui doloremque a laudantium velit aliquam reprehenderit quos adipisci aut aspernatur provident?</p>
                </section> -->
                
                <script src="../JSfront/footer.js"></script>     
            </div>   
            </footer>

            <!--FIN footer-->
