<!--HEADER-->
<header>
    
    <section class="header1">

        <div class="envios">
            <i class="fas fa-shipping-fast"></i>
            Envios a todo el país
        </div>

        <div class="redes">
            <div class="f"><a href="https://www.facebook.com/vistetedepoderclothingdesign/"><img class="f"
                        src="/images/facebook.png" alt="facebook"></a></div>
            <div class="i"><a href="https://www.instagram.com/remerasliterarias_vp/"><img src="/images/instagram.png"
                        alt="instagram"></a></div>
            <div class="w"><a href="https://api.whatsapp.com/send?phone=5491157062866&text=Hola!%20Me%20gustaria%20mas%20informacion%20sobre%20"><img src="/images/whatsapp.png" alt="whatsapp"></a></div>

        </div>

    </section>

    <section class=header2>
        <article class="logo"><img src="/images/logos/Logo.png" alt="logo"></article>
        <nav>

            <ul class="menuHorizontal">
                <li class="palabras"><a class="home" href="/home">HOME</a></li>
                <li class="palabras"><a class="home" href="../products/listIndumentaria">INDUMENTARIA<i
                            class="fas fa-sort-down"></i></a>
                    <ul class="desplegable">
                        <!-- <li><a href="../products/Tshirt">Remeras</a></li> -->
                        <li><a href="../products/Tshirt">Remeras</a></li>
                        <li><a href="../products/masc">Barbijos</a></li>
                        <li><a href="../products/cap">Gorras</a></li>
                    </ul>
                </li>
                <li class="palabras"><a class="home" href="../products/listMerchandising">MERCHANDISING<i
                            class="fas fa-sort-down"></i></a>
                    <ul class="desplegable">
                        <li><a href="../products/cup">Tazas</a></li>
                        <li><a href="../products/thermo">Termos</a></li>
                        <li><a href="../products/bottle">Botellas</a></li>
                    </ul>
                </li>
                <li class="palabras"><a class="home" href="../products/listAccesorios">ACCESORIOS<i
                            class="fas fa-sort-down"></i></a>
                    <ul class="desplegable">
                        <li><a href="../products/handbag">Bolsos</a></li>
                        <li><a href="../products/pencilCase">Cartucheras</a></li>
                        <li><a href="../products/backpack">Mochilas</a></li>
                    </ul>
                </li>
            </ul>

            <div class="hamburguesa">

                <i class="fas fa-bars">

                    <ul class="desplegable2">
                        <li><a href="../products/Tshirt">Remeras</a></li>
                        <li><a href="../products/masc">Barbijos</a></li>
                        <li><a href="../products/cap">Gorras</a></li>
                        <li><a href="../products/cup">Tazas</a></li>
                        <li><a href="../products/thermo">Termos</a></li>
                        <li><a href="../products/bottle">Botellas</a></li>
                        <li><a href="../products/handbag">Bolsos</a></li>
                        <li><a href="../products/pencilCase">Cartucheras</a></li>
                        <li><a href="../products/backpack">Mochilas</a></li>
                    </ul>
                </i>
            </div>
        </nav>


        <div class="buscadores">

            <div class="valija"><a href="/carrito"><i class="fas fa-shopping-bag"></i></a></div>

            <div class="buscador">
                <form class="formularioBuscador"action="/products/search" method="post" target="_blank">
                    <p class="pBuscador">

                        <label class="labelBuscador"for="busqueda"><i class="fas fa-search"></i></label>

                        <input class="escribir" type="search" name="busqueda"
                            placeholder="Nombre producto">

                        <input class="enviar" type="submit" value="Buscar">

                    </p>
                </form>
            </div>

           
           <div class="ingreso"><a class="home" href="/users/ingreso"><i class="fas fa-user"></i></a>
            
                <ul class="desplegableUsuarios">
                    <li><a href="../users/ingreso">Iniciar Sesion</a></li>
                    <li><a href="../users/registro">Registrarme</a></li>
                    <li><a href="/users/logout">Cerrar Sesion</a></li>
                    
                </ul>
          
                 
            </div>
         
        </div>
    </section>

</header>
<!--FIN HEADER-->