 <!--HEADER-->
 <header>
    <section class="header1">
       
            <div class="envios">
                <i class="fas fa-shipping-fast"></i>
                Envios a todo el país
            </div>

            <div class="redes">
                <div class="f"><a href="https://www.facebook.com/vistetedepoderclothingdesign/"><img class="f" src="/images/facebook.jpg" alt="facebook"></a></div>
                <div class="i"><a href="https://www.instagram.com/remerasliterarias_vp/"><img src="/images/instagram.png" alt="instagram"></a></div>
                <div class="w"><a href="https://web.whatsapp.com/"><img src="/images/whatsapp.png" alt="whatsapp"></a></div> 
        
            </div>    
    </section>

    <section class=header2>
        <article class="logo"><img src="/images\logo.jpg" alt="logo"></article>   

        <ul class="menuHorizontal">
            <li class="palabras"><a class="home" href="/home">HOME</a></li>
            <li class="palabras"><a class="home" href="/producto">INDUMENTARIA<i class="fas fa-sort-down"></i></a> 
               <ul class="desplegable">
                <li><a href="/producto">Remeras</a></li>
                <li><a href="/producto">Barbijos</a></li>
                <li><a href="/producto">Gorras</a></li>
               </ul>  
            </li> 
            <li class="palabras"><a class="home" href="/producto">MERCHANDISIGN<i class="fas fa-sort-down"></i></a> 
                <ul class="desplegable">
                <li><a href="/producto">Tazas</a></li>
                <li><a href="/producto">Termos</a></li>
                <li><a href="/producto">Botellas</a></li>
                </ul>  
            </li>  
             <li class="palabras"><a class="home" href="/producto">ACCESORIOS<i class="fas fa-sort-down"></i></a>
                <ul class="desplegable">
                  <li><a href="/producto">Bolsos</a></li>
                  <li><a href="/producto">Cartucheras</a></li>
                  <li><a href="/producto">Mochilas</a></li>
                </ul>
            </li>     
        </ul> 
            

        <div class="buscadores">
           <div class="valija"><a href="/carrito"><i class="fas fa-shopping-bag"></i></a></div>
           <div class="buscador"><a href="#"><label for="busqueda"><i class="fas fa-search"></label></i></a>
             <input type="search" placeholder="Buscar productos" id="busqueda" name="busqueda">
           </div>
           <div class="ingreso"><a href="/ingreso"><i class="fas fa-user"></i></a></div>
        </div>
    </section>
    
</header>
<!--FIN HEADER-->