 <!--HEADER-->
 <header>
    <section class="header1">
       
            <div class="envios">
                <i class="fas fa-shipping-fast"></i>
                Envios a todo el país
            </div>

            <div class="redes">
                <div class="f"><a href="https://www.facebook.com/vistetedepoderclothingdesign/"><img class="f" src="/images/facebook.png" alt="facebook"></a></div>
                <div class="i"><a href="https://www.instagram.com/remerasliterarias_vp/"><img src="/images/instagram.png" alt="instagram"></a></div>
                <div class="w"><a href="https://web.whatsapp.com/"><img src="/images/whatsapp.png" alt="whatsapp"></a></div> 
        
            </div>    
    </section>

    <section class=header2>
        <article class="logo"><img src="/images/logos/Logo.png" alt="logo"></article>  
      <nav>

        <ul class="menuHorizontal">
            <li class="palabras"><a class="home" href="/home">HOME</a></li>
            <li class="palabras"><a class="home" href="../products/list">INDUMENTARIA<i class="fas fa-sort-down"></i></a> 
               <ul class="desplegable">
                <li><a href="../products/list">Remeras</a></li>
                <li><a href="../products/list">Barbijos</a></li>
                <li><a href="../products/list">Gorras</a></li>
               </ul>  
            </li> 
            <li class="palabras"><a class="home" href="../products/list">MERCHANDISIGN<i class="fas fa-sort-down"></i></a> 
                <ul class="desplegable">
                <li><a href="../products/list">Tazas</a></li>
                <li><a href="../products/list">Termos</a></li>
                <li><a href="../products/list">Botellas</a></li>
                </ul>  
            </li>  
             <li class="palabras"><a class="home" href="../products/list">ACCESORIOS<i class="fas fa-sort-down"></i></a>
                <ul class="desplegable">
                  <li><a href="../products/list">Bolsos</a></li>
                  <li><a href="../products/list">Cartucheras</a></li>
                  <li><a href="../products/list">Mochilas</a></li>
                </ul>
            </li>     
        </ul> 


            
        <div class="hamburguesa">
           
                <i class="fas fa-bars">
     
                <ul class="desplegable2">
                    <li><a href="../products/list">Remeras</a></li>
                    <li><a href="../products/list">Barbijos</a></li>
                    <li><a href="../products/list">Gorras</a></li>
                    <li><a href="../products/list">Tazas</a></li>
                    <li><a href="../products/list">Termos</a></li>
                    <li><a href="../products/list">Botellas</a></li>
                    <li><a href="../products/list">Bolsos</a></li>
                    <li><a href="../products/list">Cartucheras</a></li>
                    <li><a href="../products/list">Mochilas</a></li>
                 </ul>
                </i> 
        </div>
    </nav>
            

        <div class="buscadores">
          
           <div class="valija"><a href="/carrito"><i class="fas fa-shopping-bag"></i></a></div>

           <!-- <div class="buscador">
              <form action="/products/pruebas" method="POST"></form>
                   
                     <i class="fas fa-search"><label for="busqueda"></label></i> 
                     <input type="search" placeholder="Buscar productos" id="busqueda" name="busqueda">
                     <input class="enviar" type="submit" value="busqueda">
              </form>
           </div> -->

           <div class="buscador">
           <form action="/products/search" method="post" target="_blank">
            <p>

                <label for="busqueda"><i class="fas fa-search"></i></label>

                <input class="escribir" type="search" name="busqueda" placeholder="Escribe el nombre de tu producto">
          
                <input class="enviar" type="submit" value="Buscar">
          
            </p>
          </form>
           </div>
           


           <div class="ingreso"><a href="/users/ingreso"><i class="fas fa-user"></i></a></div>
        </div>
    </section>
    
</header>
<!--FIN HEADER-->